@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
section {
  padding: 0px 10px;
}
h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  background-image: url(./assets/images/mobile_images/background1.png);
  @media screen and (min-width: 768px) {
    background-image: url(./assets/images/desktop_images/background2.png);
  }
  @media screen and (min-width: 900px) {
    background-image: url(./assets/images/desktop_images/backgroundFull.png);
  }
  overflow-x: hidden;
}
@media screen and (min-width: 600px) {
  section {
    padding: 0px 30px;
  }
}
